streamlit
langgraph
langchain
langchain-core
langchain-groq
langchain-community
langchain-text-splitters
python-dotenv
requests
pypdf
duckduckgo-search==5.3.1
sentence-transformers
faiss-cpu
torchvision
langgraph-checkpoint-sqlite
